In [2]:
import pandas as pd

In [4]:
df_2023 = pd.read_excel('../data/2023.xlsx')
df_2022 = pd.read_excel('../data/2022.xlsx')
df_2021 = pd.read_excel('../data/2021.xlsx')

In [5]:
df_2023.columns = ( df_2023.columns.str.replace(r"\s+", "_", regex=True)   # replace spaces with _
                                   .str.replace(r"[()]", "", regex=True)   # remove parentheses
                                   .str.replace(r"\/", "_", regex=True)    # replace slashes with _
                                   .str.strip()                            # remove leading/trailing spaces
                                   .str.lower())                            # optional: make lowercase
df_2023_facility_info =df_2023[['jar_year', 'facility_id', 'facility_name', 'county', 'street', 'city',
       'zip_code', 'sch_bp1_3.group', 'sch_bp1_3.facility_class']]

df_2023_facility_info.columns=['year','facility_id','facility_name','county','address','city','zip_code','facility_group','facility_class']
df_2023_facility_info.head(1)

,year,facility_id,facility_name,county,address,city,zip_code,facility_group,facility_class
0,2023,179,Methodist Medical Center of Oak Ridge,Anderson,990 Oak Ridge Turnpike,Oak Ridge,37830,NonGovermental Not-For-Profit,Other Nonprofit Corp

In [6]:
df_2023_patient_charges= df_2023[['jar_year','facility_id','sch_ep1_3.start_date', 'sch_ep1_3.end_date',
       'sch_ep1_3.total_govt_sources_gross_patient_charges',
       'sch_ep1_3.total_govt_source_adjustments_to_charges',
       'sch_ep1_3.total_govt_sources_net_patient_revenue',
       'sch_ep1_3.total_non-govt_sources_gross_patient_charges',
       'sch_ep1_3.total_non-_govt_sources_adjustments_to_charges',
       'sch_ep1_3.total_non-govt_net_patient_revenue',
       'sch_ep1_3.total_gross_inpatient_charges',
       'sch_ep1_3.total_inpatient_adjustments_to_charges',
       'sch_ep1_3.total_net_inpatient_revenue',
       'sch_ep1_3.total_gross_outpatient_charges',
       'sch_ep1_3.total_outpatient_adjustments_to_charges',
       'sch_ep1_3.total_outpatient_net_patient_revenue',
       'sch_ep1_3.grand_total_gross_patient_charges',
       'sch_ep1_3.grand_total_adjustments_to_charges',
       'sch_ep1_3.grand_total_net_patient_revenue', 'sch_ep1_3.total_revenue',
       'sch_ep2_3.16__total_expenses', 'sch_ep2_3.eb4_netprofitloss']]

df_2023_patient_charges.columns = df_2023_patient_charges.columns.str[10:]
df_2023_patient_charges = df_2023_patient_charges.rename(columns={'':'year','d':'facility_id','16__total_expenses':'total_expenses', 'eb4_netprofitloss':'net_profit_loss'})
#######
df_2023_by_age_info = df_2023[['jar_year','facility_id','sch_g1_3.g4_under15admindischarge', 'sch_g1_3.g4_under15patientdays',
       'sch_g1_3.g4_under15outpatientvisits', 'sch_g1_3.g4_under15ervisits',
       'sch_g1_3.g4_15to17admindischarge', 'sch_g1_3.g4_15to17patientdays',
       'sch_g1_3.g4_15to17outpatientvisits', 'sch_g1_3.g4_15to17ervisits',
       'sch_g1_3.g4_18to64admindischarge', 'sch_g1_3.g4_18to64patientdays',
       'sch_g1_3.g4_18to64outpatientvisits', 'sch_g1_3.g4_18to64ervisits',
       'sch_g1_3.g4_65to74admindischarge', 'sch_g1_3.g4_65to74patientdays',
       'sch_g1_3.g4_65to74outpatientvisits', 'sch_g1_3.g4_65to74ervisits',
       'sch_g1_3.g4_75to84admindischarge', 'sch_g1_3.g4_75to84patientdays',
       'sch_g1_3.g4_75to84outpatientvisits', 'sch_g1_3.g4_75to84ervisits',
       'sch_g1_3.g4_85overadmindischarge', 'sch_g1_3.g4_85overpatientdays',
       'sch_g1_3.g4_85overoutpatientvisits', 'sch_g1_3.g4_85overervisits',
       'sch_g1_3.g4_totaladmindischarge', 'sch_g1_3.g4_totalinpatientdays',
       'sch_g1_3.g4_totaloutpatientvisits', 'sch_g1_3.g4_totalervisits',
       'sch_g2_3.total_patients', 'sch_g2_3.total_days']]

df_2023_by_age_info.columns = df_2023_by_age_info.columns.str[12:]
df_2023_by_age_info=df_2023_by_age_info.rename(columns={'':'year','':'facility_id','al_patients':'total_patients', 'al_days':'total_days'})
######
df_2023_claims = df_2023[['jar_year','facility_id','sch_p_3.medicare_as_primary_num_of_claims',
       'sch_p_3.comm_bcbs_as_payer_num_of_claims',
       'sch_p_3.other_payer_as_primary_num_of_claims',
       'sch_p_3.medicare_claims_inpatient_total_charges',
       'sch_p_3.medicare_claims_outpatient_total_charges',
       'sch_p_3.medicare_claims_inpatient_total_payment',
       'sch_p_3.medicare_claims_outpatient_total_payment',
       'sch_p_3.comm_blue_cross_blue_shield_inpatient_total_charges',
       'sch_p_3.comm_blue_cross_blue_shield_outpatient_total_charges',
       'sch_p_3.comm_blue_cross_blue_shield_inpatient_total_payment',
       'sch_p_3.comm_blue_cross_blue_shield_outpatient_total_payment',
       'sch_p_3.other_payer_claims_inpatient_total_charges',
       'sch_p_3.other_payer_claims_outpatient_total_charges',
       'sch_p_3.other_payer_claims_inpatient_total_payment',
       'sch_p_3.other_payer_claims_outpatient_total_payment']]

df_2023_claims.columns = df_2023_claims.columns.str[8:]
df_2023_claims=df_2023_claims.rename(columns={'':'year','_id':'facility_id'})
df_2023_claims.head(1)
########
df_2023_insurance = df_2023[['jar_year','facility_id','sch_p_3.total_uninsured_patients',
       'sch_p_3.uninsured_inpatient_charges',
       'sch_p_3.uninsured_outpatient_charges',
       'sch_p_3.uninsured_inpatient_total_payment',
       'sch_p_3.uninsured_outpatient_total_payment',
       'sch_p_3.inpatient_charges_credible_insurance_not_available_for_particular_serv',
       'sch_p_3.outpatient_charges_credible_insurance_not_available_for_particular_ser',
       'sch_p_3.inpatient_total_payment_with_limited_service_insurance',
       'sch_p_3.outpatient_total_payment_with_limited_service_insurance',
       'sch_p_3.inpatient_charges_with_limited_service_insurance',
       'sch_p_3.outpatient_charges_with_limited_service_insurance',
       'sch_p_3.inpatient_total_payment_with_limited_service_insurance_1',
       'sch_p_3.outpatient_total_payment_with_limited_service_insurance_2',
       'sch_p_3.inpatient_total_charges', 'sch_p_3.outpatient_total_charges',
       'sch_p_3.inpatient_total_payment', 'sch_p_3.outpatient_total_payment']]

df_2023_insurance.columns = df_2023_insurance.columns.str[8:]
df_2023_insurance=df_2023_insurance.rename(columns={'':'year','_id':'facility_id'})

In [7]:
df_2023_patient_charges.head(1)

,year,facility_id,start_date,end_date,total_govt_sources_gross_patient_charges,total_govt_source_adjustments_to_charges,total_govt_sources_net_patient_revenue,total_non-govt_sources_gross_patient_charges,total_non-_govt_sources_adjustments_to_charges,total_non-govt_net_patient_revenue,...,total_net_inpatient_revenue,total_gross_outpatient_charges,total_outpatient_adjustments_to_charges,total_outpatient_net_patient_revenue,grand_total_gross_patient_charges,grand_total_adjustments_to_charges,grand_total_net_patient_revenue,total_revenue,total_expenses,net_profit_loss
0,2023,179,1/1/2023 12:00:00 AM,12/31/2023 12:00:00 AM,383918934,286396377,97522557,160059736,103342278,56717458,...,75506644,284563366,205829995,78733371,543978670,389738655,154240015,167144440,183268467,-16124027

In [8]:
df_2023_by_age_info.columns.values[0]='year'
df_2023_by_age_info.head(1)

,year,facility_id,under15admindischarge,under15patientdays,under15outpatientvisits,under15ervisits,15to17admindischarge,15to17patientdays,15to17outpatientvisits,15to17ervisits,...,85overadmindischarge,85overpatientdays,85overoutpatientvisits,85overervisits,totaladmindischarge,totalinpatientdays,totaloutpatientvisits,totalervisits,total_patients,total_days
0,2023,179,228,418,18727,0,11,29,2094,0,...,907,4746,5123,0,8802,43337,142134,0,8690,42718

In [9]:
df_2023_claims.head(1)

,year,facility_id,medicare_as_primary_num_of_claims,comm_bcbs_as_payer_num_of_claims,other_payer_as_primary_num_of_claims,medicare_claims_inpatient_total_charges,medicare_claims_outpatient_total_charges,medicare_claims_inpatient_total_payment,medicare_claims_outpatient_total_payment,comm_blue_cross_blue_shield_inpatient_total_charges,comm_blue_cross_blue_shield_outpatient_total_charges,comm_blue_cross_blue_shield_inpatient_total_payment,comm_blue_cross_blue_shield_outpatient_total_payment,other_payer_claims_inpatient_total_charges,other_payer_claims_outpatient_total_charges,other_payer_claims_inpatient_total_payment,other_payer_claims_outpatient_total_payment
0,2023,179,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [10]:
df_2023_insurance.head(1)

,year,facility_id,total_uninsured_patients,uninsured_inpatient_charges,uninsured_outpatient_charges,uninsured_inpatient_total_payment,uninsured_outpatient_total_payment,inpatient_charges_credible_insurance_not_available_for_particular_serv,outpatient_charges_credible_insurance_not_available_for_particular_ser,inpatient_total_payment_with_limited_service_insurance,outpatient_total_payment_with_limited_service_insurance,inpatient_charges_with_limited_service_insurance,outpatient_charges_with_limited_service_insurance,inpatient_total_payment_with_limited_service_insurance_1,outpatient_total_payment_with_limited_service_insurance_2,inpatient_total_charges,outpatient_total_charges,inpatient_total_payment,outpatient_total_payment
0,2023,179,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
df_2022.columns = ( df_2022.columns.str.replace(r"\s+", "_", regex=True)   # replace spaces with _
                                   .str.replace(r"[()]", "", regex=True)   # remove parentheses
                                   .str.replace(r"\/", "_", regex=True)    # replace slashes with _
                                   .str.strip()                            # remove leading/trailing spaces
                                   .str.lower())                            # optional: make lowercase

df_2022_facility_info =df_2022[['jar_year', 'facilityid', 'facilityname', 'county', 'a2_streetaddress',
       'a2_city', 'a2_zipcode', 'sch_bp1_2.group', 'sch_bp1_2.facility_class']]

df_2022_facility_info.columns=['year','facility_id','facility_name','county','address','city','zip_code','facility_group','facility_class']
df_2022_facility_info.head(1)

#######
df_2022_patient_charges= df_2022[['jar_year','facilityid', 'sch_ep1_2.start_date', 'sch_ep1_2.end_date',
       'sch_ep1_2.total_govt_sources_gross_patient_charges',
       'sch_ep1_2.total_govt_source_adjustments_to_charges',
       'sch_ep1_2.total_govt_sources_net_patient_revenue',
       'sch_ep1_2.total_non-govt_sources_gross_patient_charges',
       'sch_ep1_2.total_non-_govt_sources_adjustments_to_charges',
       'sch_ep1_2.total_non-govt_net_patient_revenue',
       'sch_ep1_2.total_gross_inpatient_charges',
       'sch_ep1_2.total_inpatient_adjustments_to_charges',
       'sch_ep1_2.total_net_inpatient_revenue',
       'sch_ep1_2.total_gross_outpatient_charges',
       'sch_ep1_2.total_outpatient_adjustments_to_charges',
       'sch_ep1_2.total_outpatient_net_patient_revenue',
       'sch_ep1_2.grand_total_gross_patient_charges',
       'sch_ep1_2.grand_total_adjustments_to_charges',
       'sch_ep1_2.grand_total_net_patient_revenue', 'sch_ep1_2.total_revenue',
       'sch_ep2_2.16__total_expenses', 'sch_ep2_2.eb4_netprofitloss']]

df_2022_patient_charges.columns = df_2022_patient_charges.columns.str[10:]
df_2022_patient_charges = df_2022_patient_charges.rename(columns={'':'year','':'facility_id','16__total_expenses':'total_expenses', 'eb4_netprofitloss':'net_profit_loss'})


####
df_2022_by_age_info = df_2022[['jar_year','facilityid','sch_g1_2.g4_under15admindischarge', 'sch_g1_2.g4_under15patientdays',
       'sch_g1_2.g4_under15outpatientvisits', 'sch_g1_2.g4_under15ervisits',
       'sch_g1_2.g4_15to17admindischarge', 'sch_g1_2.g4_15to17patientdays',
       'sch_g1_2.g4_15to17outpatientvisits', 'sch_g1_2.g4_15to17ervisits',
       'sch_g1_2.g4_18to64admindischarge', 'sch_g1_2.g4_18to64patientdays',
       'sch_g1_2.g4_18to64outpatientvisits', 'sch_g1_2.g4_18to64ervisits',
       'sch_g1_2.g4_65to74admindischarge', 'sch_g1_2.g4_65to74patientdays',
       'sch_g1_2.g4_65to74outpatientvisits', 'sch_g1_2.g4_65to74ervisits',
       'sch_g1_2.g4_75to84admindischarge', 'sch_g1_2.g4_75to84patientdays',
       'sch_g1_2.g4_75to84outpatientvisits', 'sch_g1_2.g4_75to84ervisits',
       'sch_g1_2.g4_85overadmindischarge', 'sch_g1_2.g4_85overpatientdays',
       'sch_g1_2.g4_85overoutpatientvisits', 'sch_g1_2.g4_85overervisits',
       'sch_g1_2.g4_totaladmindischarge', 'sch_g1_2.g4_totalinpatientdays',
       'sch_g1_2.g4_totaloutpatientvisits', 'sch_g1_2.g4_totalervisits',
       'sch_g2_2.total_patients', 'sch_g2_2.total_days']]

df_2022_by_age_info.columns = df_2022_by_age_info.columns.str[12:]
df_2022_by_age_info=df_2022_by_age_info.rename(columns={'':'year','':'facility_id','al_patients':'total_patients', 'al_days':'total_days'})

########
df_2022_claims = df_2022[['jar_year','facilityid','sch_p_2.medicare_as_primary_num_of_claims',
       'sch_p_2.comm_bcbs_as_payer_num_of_claims',
       'sch_p_2.other_payer_as_primary_num_of_claims',
       'sch_p_2.medicare_claims_inpatient_total_charges',
       'sch_p_2.medicare_claims_outpatient_total_charges',
       'sch_p_2.medicare_claims_inpatient_total_payment',
       'sch_p_2.medicare_claims_outpatient_total_payment',
       'sch_p_2.comm_blue_cross_blue_shield_inpatient_total_charges',
       'sch_p_2.comm_blue_cross_blue_shield_outpatient_total_charges',
       'sch_p_2.comm_blue_cross_blue_shield_inpatient_total_payment',
       'sch_p_2.comm_blue_cross_blue_shield_outpatient_total_payment',
       'sch_p_2.other_payer_claims_inpatient_total_charges',
       'sch_p_2.other_payer_claims_outpatient_total_charges',
       'sch_p_2.other_payer_claims_inpatient_total_payment',
       'sch_p_2.other_payer_claims_outpatient_total_payment']]

df_2022_claims.columns = df_2022_claims.columns.str[8:]
df_2022_claims = df_2022_claims.rename(columns={'':'year','id':'facility_id'}) 
#######
df_2022_insurance = df_2022[['jar_year','facilityid','sch_p_2.total_uninsured_patients',
       'sch_p_2.uninsured_inpatient_charges',
       'sch_p_2.uninsured_outpatient_charges',
       'sch_p_2.uninsured_inpatient_total_payment',
       'sch_p_2.uninsured_outpatient_total_payment',
       'sch_p_2.inpatient_charges_credible_insurance_not_available_for_particular_serv',
       'sch_p_2.outpatient_charges_credible_insurance_not_available_for_particular_ser',
       'sch_p_2.inpatient_total_payment_with_limited_service_insurance',
       'sch_p_2.outpatient_total_payment_with_limited_service_insurance',
       'sch_p_2.inpatient_charges_with_limited_service_insurance',
       'sch_p_2.outpatient_charges_with_limited_service_insurance',
       'sch_p_2.inpatient_total_payment_with_limited_service_insurance_1',
       'sch_p_2.outpatient_total_payment_with_limited_service_insurance_2',
       'sch_p_2.inpatient_total_charges', 'sch_p_2.outpatient_total_charges',
       'sch_p_2.inpatient_total_payment', 'sch_p_2.outpatient_total_payment']]

df_2022_insurance.columns = df_2022_insurance.columns.str[8:]
df_2022_insurance = df_2022_insurance.rename(columns={'':'year','id':'facility_id'})

In [12]:
df_2022_facility_info.head(1)

,year,facility_id,facility_name,county,address,city,zip_code,facility_group,facility_class
0,2022,180,Ridgeview Psychiatric Hospital and Center,Anderson,240 West Tyrone Road,Oak Ridge,37830,0,0

In [13]:
df_2022_patient_charges.columns.values[0]='year'
df_2022_patient_charges.head(1)

,year,facility_id,start_date,end_date,total_govt_sources_gross_patient_charges,total_govt_source_adjustments_to_charges,total_govt_sources_net_patient_revenue,total_non-govt_sources_gross_patient_charges,total_non-_govt_sources_adjustments_to_charges,total_non-govt_net_patient_revenue,...,total_net_inpatient_revenue,total_gross_outpatient_charges,total_outpatient_adjustments_to_charges,total_outpatient_net_patient_revenue,grand_total_gross_patient_charges,grand_total_adjustments_to_charges,grand_total_net_patient_revenue,total_revenue,total_expenses,net_profit_loss
0,2022,180,7/1/2021 12:00:00 AM,6/30/2022 12:00:00 AM,12853587,5131827,7721760,2102563,1223188,879375,...,1791384,11810733,4188703,7622030,14956150,6355015,8601135,16699403,16538950,160453

In [14]:
df_2022_by_age_info.columns.values[0]='year'
df_2022_by_age_info.head(1)

,year,facility_id,under15admindischarge,under15patientdays,under15outpatientvisits,under15ervisits,15to17admindischarge,15to17patientdays,15to17outpatientvisits,15to17ervisits,...,85overadmindischarge,85overpatientdays,85overoutpatientvisits,85overervisits,totaladmindischarge,totalinpatientdays,totaloutpatientvisits,totalervisits,total_patients,total_days
0,2022,180,0,0,9800,0,0,0,4795,0,...,0,0,57,0,564,2559,93208,0,538,2436

In [15]:
df_2022_claims.head(1)

,year,facility_id,medicare_as_primary_num_of_claims,comm_bcbs_as_payer_num_of_claims,other_payer_as_primary_num_of_claims,medicare_claims_inpatient_total_charges,medicare_claims_outpatient_total_charges,medicare_claims_inpatient_total_payment,medicare_claims_outpatient_total_payment,comm_blue_cross_blue_shield_inpatient_total_charges,comm_blue_cross_blue_shield_outpatient_total_charges,comm_blue_cross_blue_shield_inpatient_total_payment,comm_blue_cross_blue_shield_outpatient_total_payment,other_payer_claims_inpatient_total_charges,other_payer_claims_outpatient_total_charges,other_payer_claims_inpatient_total_payment,other_payer_claims_outpatient_total_payment
0,2022,180,7,21,24,42117,0,21645,0,75504,0,33670,0,131790,0,59883,0

In [16]:
df_2022_insurance.head(1)

,year,facility_id,total_uninsured_patients,uninsured_inpatient_charges,uninsured_outpatient_charges,uninsured_inpatient_total_payment,uninsured_outpatient_total_payment,inpatient_charges_credible_insurance_not_available_for_particular_serv,outpatient_charges_credible_insurance_not_available_for_particular_ser,inpatient_total_payment_with_limited_service_insurance,outpatient_total_payment_with_limited_service_insurance,inpatient_charges_with_limited_service_insurance,outpatient_charges_with_limited_service_insurance,inpatient_total_payment_with_limited_service_insurance_1,outpatient_total_payment_with_limited_service_insurance_2,inpatient_total_charges,outpatient_total_charges,inpatient_total_payment,outpatient_total_payment
0,2022,180,174,1107154,0,456870,0,0,0,0,0,0,0,0,0,1107154,0,456870,0

In [17]:
df_2021.columns = ( df_2021.columns.str.replace(r"\s+", "_", regex=True)   # replace spaces with _
                                   .str.replace(r"[()]", "", regex=True)   # remove parentheses
                                   .str.replace(r"\/", "_", regex=True)    # replace slashes with _
                                   .str.strip()                            # remove leading/trailing spaces
                                   .str.lower())                            # optional: make lowercase

df_2021_facility_info =df_2021[['jar_year', 'facility_id', 'facility_name', 'county', 'street', 'city', 'zip_code', 'sch_bp1.group', 'sch_bp1.facility_class',]]

df_2021_facility_info.columns=['year','facility_id','facility_name','county','address','city','zip_code','facility_group','facility_class']
df_2021_facility_info.head(1)

#######
df_2021_patient_charges= df_2021[['jar_year','facility_id','sch_ep1.start_date', 'sch_ep1.end_date',
       'sch_ep1.total_govt_sources_gross_patient_charges',
       'sch_ep1.total_govt_source_adjustments_to_charges',
       'sch_ep1.total_govt_sources_net_patient_revenue',
       'sch_ep1.total_non-govt_sources_gross_patient_charges',
       'sch_ep1.total_non-_govt_sources_adjustments_to_charges',
       'sch_ep1.total_non-govt_net_patient_revenue',
       'sch_ep1.total_gross_inpatient_charges',
       'sch_ep1.total_inpatient_adjustments_to_charges',
       'sch_ep1.total_net_inpatient_revenue',
       'sch_ep1.total_gross_outpatient_charges',
       'sch_ep1.total_outpatient_adjustments_to_charges',
       'sch_ep1.total_outpatient_net_patient_revenue',
       'sch_ep1.grand_total_gross_patient_charges',
       'sch_ep1.grand_total_adjustments_to_charges',
       'sch_ep1.grand_total_net_patient_revenue',
       'sch_ep1.nonoperating_total_revenue', 'sch_ep1.total_revenue',
       'sch_ep2.total', 'sch_ep2.profit_or_loss']]

df_2021_patient_charges.columns = df_2021_patient_charges.columns.str[8:]
df_2021_patient_charges = df_2021_patient_charges.rename(columns={'':'year','_id':'facility_id','16__total_expenses':'total_expenses', 'eb4_netprofitloss':'net_profit_loss'})


####
df_2021_by_age_info = df_2021[['jar_year','facility_id','sch_g1.g4_under15admindischarge', 'sch_g1.g4_under15patientdays',
       'sch_g1.g4_under15outpatientvisits', 'sch_g1.g4_under15ervisits',
       'sch_g1.g4_15to17admindischarge', 'sch_g1.g4_15to17patientdays',
       'sch_g1.g4_15to17outpatientvisits', 'sch_g1.g4_15to17ervisits',
       'sch_g1.g4_18to64admindischarge', 'sch_g1.g4_18to64patientdays',
       'sch_g1.g4_18to64outpatientvisits', 'sch_g1.g4_18to64ervisits',
       'sch_g1.g4_65to74admindischarge', 'sch_g1.g4_65to74patientdays',
       'sch_g1.g4_65to74outpatientvisits', 'sch_g1.g4_65to74ervisits',
       'sch_g1.g4_75to84admindischarge', 'sch_g1.g4_75to84patientdays',
       'sch_g1.g4_75to84outpatientvisits', 'sch_g1.g4_75to84ervisits',
       'sch_g1.g4_85overadmindischarge', 'sch_g1.g4_85overpatientdays',
       'sch_g1.g4_85overoutpatientvisits', 'sch_g1.g4_85overervisits',
       'sch_g1.g4_totaladmindischarge', 'sch_g1.g4_totalinpatientdays',
       'sch_g1.g4_totaloutpatientvisits', 'sch_g1.g4_totalervisits',
       'sch_g2.total_patients', 'sch_g2.total_days']]

df_2021_by_age_info.columns = df_2021_by_age_info.columns.str[10:]
df_2021_by_age_info=df_2021_by_age_info.rename(columns={'':'year','d':'faility_id','al_patients':'total_patients', 'al_days':'total_days'})

########
df_2021_claims = df_2021[['jar_year','facility_id','sch_p.medicare_as_primary_num_of_claims',
       'sch_p.comm_bcbs_as_payer_num_of_claims',
       'sch_p.other_payer_as_primary_num_of_claims',
       'sch_p.medicare_claims_inpatient_total_charges',
       'sch_p.medicare_claims_outpatient_total_charges',
       'sch_p.medicare_claims_inpatient_total_payment',
       'sch_p.medicare_claims_outpatient_total_payment',
       'sch_p.comm_blue_cross_blue_shield_inpatient_total_charges',
       'sch_p.comm_blue_cross_blue_shield_outpatient_total_charges',
       'sch_p.comm_blue_cross_blue_shield_inpatient_total_payment',
       'sch_p.comm_blue_cross_blue_shield_outpatient_total_payment',
       'sch_p.other_payer_claims_inpatient_total_charges',
       'sch_p.other_payer_claims_outpatient_total_charges',
       'sch_p.other_payer_claims_inpatient_total_payment',
       'sch_p.other_payer_claims_outpatient_total_payment']]

df_2021_claims.columns = df_2021_claims.columns.str[6:]
df_2021_claims = df_2021_claims.rename(columns={'ar':'year','ty_id':'facility_id'})

#######
df_2021_insurance = df_2021[['jar_year','facility_id','sch_p.total_uninsured',
       'sch_p.uninsured_inpatient_charges',
       'sch_p.uninsured_outpatient_charges',
       'sch_p.uninsured_inpatient_total_payment',
       'sch_p.uninsured_outpatient_total_payment',
       'sch_p.inpatient_charges_credible_insurance_not_available_for_particular_service',
       'sch_p.outpatient_charges_credible_insurance_not_available_for_particular_service',
       'sch_p.inpatient_total_payment_credible_insurance_not_available_for_particular_s',
       'sch_p.outpatient_total_payment_credible_insurance_not_available_for_particular_',
       'sch_p.inpatient_charges_with_limited_service_insurance',
       'sch_p.outpatient_charges_with_limited_service_insurance',
       'sch_p.inpatient_total_payment_with_limited_service_insurance',
       'sch_p.outpatient_total_payment_with_limited_service_insurance',
       'sch_p.inpatient_total_charges', 'sch_p.outpatient_total_charges',
       'sch_p.inpatient_total_payment', 'sch_p.outpatient_total_payment']]

df_2021_insurance.columns = df_2021_insurance.columns.str[6:]
df_2021_insurance = df_2021_insurance.rename(columns={'ar':'year','ty_id':'facility_id'})

In [18]:
df_2021_facility_info.head(1)

,year,facility_id,facility_name,county,address,city,zip_code,facility_group,facility_class
0,2021,180,Ridgeview Psychiatric Hospital and Center,Anderson,240 West Tyrone Road,Oak Ridge,37830,0,0

In [19]:
df_2021_patient_charges.head(1)

,year,facility_id,start_date,end_date,total_govt_sources_gross_patient_charges,total_govt_source_adjustments_to_charges,total_govt_sources_net_patient_revenue,total_non-govt_sources_gross_patient_charges,total_non-_govt_sources_adjustments_to_charges,total_non-govt_net_patient_revenue,...,total_gross_outpatient_charges,total_outpatient_adjustments_to_charges,total_outpatient_net_patient_revenue,grand_total_gross_patient_charges,grand_total_adjustments_to_charges,grand_total_net_patient_revenue,nonoperating_total_revenue,total_revenue,total,profit_or_loss
0,2021,180,7/1/2020 12:00:00 AM,6/30/2021 12:00:00 AM,13461424,5358480,8102944,1785636,1696924,88712,...,11406917,4891379,6515538,15247060,7055404,8191656,2773308,17793475,15752799,2040676

In [20]:
df_2021_by_age_info.head(1)

,year,faility_id,under15admindischarge,under15patientdays,under15outpatientvisits,under15ervisits,15to17admindischarge,15to17patientdays,15to17outpatientvisits,15to17ervisits,...,85overadmindischarge,85overpatientdays,85overoutpatientvisits,85overervisits,totaladmindischarge,totalinpatientdays,totaloutpatientvisits,totalervisits,total_patients,total_days
0,2021,180,0,0,9747,0,0,0,4414,0,...,0,0,44,0,714,3063,88304,0,714,3063

In [21]:
df_2021_claims.head(1)

,year,facility_id,medicare_as_primary_num_of_claims,comm_bcbs_as_payer_num_of_claims,other_payer_as_primary_num_of_claims,medicare_claims_inpatient_total_charges,medicare_claims_outpatient_total_charges,medicare_claims_inpatient_total_payment,medicare_claims_outpatient_total_payment,comm_blue_cross_blue_shield_inpatient_total_charges,comm_blue_cross_blue_shield_outpatient_total_charges,comm_blue_cross_blue_shield_inpatient_total_payment,comm_blue_cross_blue_shield_outpatient_total_payment,other_payer_claims_inpatient_total_charges,other_payer_claims_outpatient_total_charges,other_payer_claims_inpatient_total_payment,other_payer_claims_outpatient_total_payment
0,2021,180,19,3,29,102897,0,50117,0,12391,0,7055,0,130609,0,25686,0

In [22]:
df_2021_insurance.head(1)

,year,facility_id,total_uninsured,uninsured_inpatient_charges,uninsured_outpatient_charges,uninsured_inpatient_total_payment,uninsured_outpatient_total_payment,inpatient_charges_credible_insurance_not_available_for_particular_service,outpatient_charges_credible_insurance_not_available_for_particular_service,inpatient_total_payment_credible_insurance_not_available_for_particular_s,outpatient_total_payment_credible_insurance_not_available_for_particular_,inpatient_charges_with_limited_service_insurance,outpatient_charges_with_limited_service_insurance,inpatient_total_payment_with_limited_service_insurance,outpatient_total_payment_with_limited_service_insurance,inpatient_total_charges,outpatient_total_charges,inpatient_total_payment,outpatient_total_payment
0,2021,180,305,1793901,0,677280,0,0,0,0,0,0,0,0,0,1793901,0,677280,0

In [23]:
df_2021_facility_info.head(1)

,year,facility_id,facility_name,county,address,city,zip_code,facility_group,facility_class
0,2021,180,Ridgeview Psychiatric Hospital and Center,Anderson,240 West Tyrone Road,Oak Ridge,37830,0,0

In [24]:
df_facility_info = pd.concat([df_2021_facility_info,df_2022_facility_info,df_2023_facility_info])

In [25]:
df_facility_info.head(1)

,year,facility_id,facility_name,county,address,city,zip_code,facility_group,facility_class
0,2021,180,Ridgeview Psychiatric Hospital and Center,Anderson,240 West Tyrone Road,Oak Ridge,37830,0,0

In [26]:
#facility group types

In [27]:
facility_group = df_facility_info.groupby(["year", "county", "facility_group"])

In [28]:
facility_counts = facility_group["facility_id"].count().reset_index(name="facility_count")
facility_counts

     year      county                 facility_group  facility_count
0    2021    Anderson                              0               1
1    2021    Anderson      Investor-Owned For-Profit               1
2    2021    Anderson  NonGovermental Not-For-Profit               1
3    2021     Bedford  NonGovermental Not-For-Profit               1
4    2021      Benton          Goverment Non-Federal               1
..    ...         ...                            ...             ...
270  2023     Weakley      Investor-Owned For-Profit               2
271  2023       White  NonGovermental Not-For-Profit               1
272  2023  Williamson          Goverment Non-Federal               1
273  2023  Williamson      Investor-Owned For-Profit               2
274  2023      Wilson  NonGovermental Not-For-Profit               2

[275 rows x 4 columns]

In [29]:
 facility_group['facility_group'].count()

year  county      facility_group
2021  Anderson    0                                1
                  Investor-Owned For-Profit        1
                  NonGovermental Not-For-Profit    1
      Bedford     NonGovermental Not-For-Profit    1
      Benton      Goverment Non-Federal            1
                                                  ..
2023  Weakley     Investor-Owned For-Profit        2
      White       NonGovermental Not-For-Profit    1
      Williamson  Goverment Non-Federal            1
                  Investor-Owned For-Profit        2
      Wilson      NonGovermental Not-For-Profit    2
Name: facility_group, Length: 275, dtype: int64

In [30]:
facility_group_count = df_facility_info.groupby(["year", "facility_group"])

facility_counts = facility_group_count["facility_id"].nunique().reset_index(name="facility_count")

facility_counts

    year                 facility_group  facility_count
0   2021                              0               3
1   2021          Goverment Non-Federal              28
2   2021      Investor-Owned For-Profit              70
3   2021  NonGovermental Not-For-Profit              60
4   2022                              0               4
5   2022          Goverment Non-Federal              26
6   2022              Goverment-Federal               1
7   2022      Investor-Owned For-Profit              76
8   2022  NonGovermental Not-For-Profit              59
9   2023                              0               4
10  2023          Goverment Non-Federal              26
11  2023              Goverment-Federal               1
12  2023      Investor-Owned For-Profit              81
13  2023  NonGovermental Not-For-Profit              59

In [31]:
#patient charges

In [32]:
df_2021_patient_charges.head(1)

,year,facility_id,start_date,end_date,total_govt_sources_gross_patient_charges,total_govt_source_adjustments_to_charges,total_govt_sources_net_patient_revenue,total_non-govt_sources_gross_patient_charges,total_non-_govt_sources_adjustments_to_charges,total_non-govt_net_patient_revenue,...,total_gross_outpatient_charges,total_outpatient_adjustments_to_charges,total_outpatient_net_patient_revenue,grand_total_gross_patient_charges,grand_total_adjustments_to_charges,grand_total_net_patient_revenue,nonoperating_total_revenue,total_revenue,total,profit_or_loss
0,2021,180,7/1/2020 12:00:00 AM,6/30/2021 12:00:00 AM,13461424,5358480,8102944,1785636,1696924,88712,...,11406917,4891379,6515538,15247060,7055404,8191656,2773308,17793475,15752799,2040676

In [33]:
df_2021_patient_charges = df_2021_patient_charges.drop("total", axis=1)

In [34]:
df_2022_patient_charges.head(1)

,year,facility_id,start_date,end_date,total_govt_sources_gross_patient_charges,total_govt_source_adjustments_to_charges,total_govt_sources_net_patient_revenue,total_non-govt_sources_gross_patient_charges,total_non-_govt_sources_adjustments_to_charges,total_non-govt_net_patient_revenue,...,total_net_inpatient_revenue,total_gross_outpatient_charges,total_outpatient_adjustments_to_charges,total_outpatient_net_patient_revenue,grand_total_gross_patient_charges,grand_total_adjustments_to_charges,grand_total_net_patient_revenue,total_revenue,total_expenses,net_profit_loss
0,2022,180,7/1/2021 12:00:00 AM,6/30/2022 12:00:00 AM,12853587,5131827,7721760,2102563,1223188,879375,...,1791384,11810733,4188703,7622030,14956150,6355015,8601135,16699403,16538950,160453

In [35]:
df_2023_patient_charges.head(1)

,year,facility_id,start_date,end_date,total_govt_sources_gross_patient_charges,total_govt_source_adjustments_to_charges,total_govt_sources_net_patient_revenue,total_non-govt_sources_gross_patient_charges,total_non-_govt_sources_adjustments_to_charges,total_non-govt_net_patient_revenue,...,total_net_inpatient_revenue,total_gross_outpatient_charges,total_outpatient_adjustments_to_charges,total_outpatient_net_patient_revenue,grand_total_gross_patient_charges,grand_total_adjustments_to_charges,grand_total_net_patient_revenue,total_revenue,total_expenses,net_profit_loss
0,2023,179,1/1/2023 12:00:00 AM,12/31/2023 12:00:00 AM,383918934,286396377,97522557,160059736,103342278,56717458,...,75506644,284563366,205829995,78733371,543978670,389738655,154240015,167144440,183268467,-16124027

In [36]:
df_2021_patient_charges = df_2021_patient_charges.copy().reset_index(drop=True)
df_2022_patient_charges = df_2022_patient_charges.copy().reset_index(drop=True)
df_2023_patient_charges = df_2023_patient_charges.copy().reset_index(drop=True)

In [37]:
df_patient_charges = pd.concat([df_2021_patient_charges, df_2022_patient_charges,df_2023_patient_charges])
                           
df_patient_charges.head(1)

,year,facility_id,start_date,end_date,total_govt_sources_gross_patient_charges,total_govt_source_adjustments_to_charges,total_govt_sources_net_patient_revenue,total_non-govt_sources_gross_patient_charges,total_non-_govt_sources_adjustments_to_charges,total_non-govt_net_patient_revenue,...,total_outpatient_adjustments_to_charges,total_outpatient_net_patient_revenue,grand_total_gross_patient_charges,grand_total_adjustments_to_charges,grand_total_net_patient_revenue,nonoperating_total_revenue,total_revenue,profit_or_loss,total_expenses,net_profit_loss
0,2021,180,7/1/2020 12:00:00 AM,6/30/2021 12:00:00 AM,13461424,5358480,8102944,1785636,1696924,88712,...,4891379,6515538,15247060,7055404,8191656,2773308.0,17793475,2040676.0,NaN,NaN